header{
    background-color: #027716;
    width: 100%;
    height: 200px;
    }
    footer{
    background-color: #fa0000;
    width: 100%;
    height: 200px;
    }
    #een{
    width: 400px;
    height: 400px;
    background-color: blue;
    }
    #twee{
    width: 400px;
    height: 400px;
    background-color: red;
    }
    #drie{
    width: 400px;
    height: 400px;
    background-color: orange;
    }
    #vier{
    width: 400px;
    height: 400px;
    background-color: lightblue
    }
    #vijf{
    width: 400px;
    height: 400px;
    background-color: lightcoral
    }
    #zes{
    width: 400px;
    height: 400px;
    background-color: lightcyan
    }
    #zeven{
    width: 400px;
    height: 400px;
    background-color: lightgoldenrodyellow
    }
    #acht{
    width: 400px;
    height: 400px;
    background-color: olive
    }
    #negen{
    width: 400px;
    height: 400px;
    background-color: lightgreen
    }
    #tien{
    width: 400px;
    height: 400px;
    background-color: lightpink
    }
    #elf{
    width: 400px;
    height: 400px;
    background-color: lightgrey
    }
    #twaalf{
    width: 400px;
    height: 400px;
    background-color: lightsalmon
    }
    #dertien{
    width: 400px;
    height: 400px;
    background-color: lightseagreen
    }
    #veertien{
    width: 400px;
    height: 400px;
    background-color: lightskyblue
    }
    #vijftien{
    width: 400px;
    height: 400px;
    background-color: lightslategray
    }
    #zestien{
    width: 400px;
    height: 400px;
    background-color: lime
    }